<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sharing System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="landing-page">
    <div class="container">
        <h1>Step into the world of treasures and secrets .Your journey is about to begin!</h1>
        <a href="{{ url_for('login') }}">
            <button>Start Your Adventure</button>
        </a>
    </div>
</body>
</html>
